@tailwind base;
@tailwind components;
@tailwind utilities;
 
.custom-img{
    background-image:url("../../public/assets/pictures/bg.jpg");
}
.promo-1{
    background-image: url("../../public/assets/pictures/promo-1.jpg");
}
.promo-2{
    background-image: url("../../public/assets/pictures/promo2.jpg");
}
.myDiscount{
    transform: rotate(-90deg) translate(0, -69px);
    transform-origin: 100% 0;
}